/* COLORS */

/* 1. Colors Palette */
$charcoal: #393f47;
$purple:   #6f748a;
$silver:   #bec7d5;
$gray:     #f7f9fa;
$white:    #ffffff;
$orange:   #fcc965;
$blue:     #32c1d0;
$green:    #99cf76;
$red:      #ff6a67;


