/* CUSTOM HELPERS */

/* 1. Min-widths */
.eh-minw-9 {
  min-width: 9rem;
}
.eh-minw-12 {
  min-width: 12rem;
}
.eh-minw-17 {
  min-width: 17rem;
}

/* 2. Paddings */
.eh-pv-1-and-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}