/* CUSTOM HELPERS */

/* 1. Min-widths */
.eh-minw-8 {
  min-width: 8rem;
}
.eh-minw-12 {
  min-width: 12rem;
}
.eh-minw-17 {
  min-width: 17rem;
}

/* 2. Paddings */
.eh-pv-1-and-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* 3. Flexbox */
.eh-flex-grow--1 {
  flex-grow: 1;
}
.eh-flex-shrink--0 {
  flex-shrink: 0;
}

/* 4. Font-Size */
.eh-f4-5 {
  font-size: 1.125rem;
}