html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#page__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.page__column {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  &--left {
    background: red;
    flex-basis: 600px;
  }
  &--right {
    background: green;
    flex-basis: 400px;
  }
  &--main {
    background: yellow;
    flex-grow: 1;
    flex-basis: 400px;
  }
  &-inner {
    flex-grow: 1;
    &--scrollable {
      overflow-y: scroll;
    }
  }
}

