/* BUTTONS */

.eh-btn {
  line-height: 2rem;
  min-width: 140px;
  height: 3rem;
}

.eh-btn-primary {
  line-height: 2rem;
  min-width: 200px;
}

.eh-cta {
  line-height: 2rem;
  min-width: 280px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 5rem;
}