/* FORMS */

:root {
  --black: #000;
  --white: #fff;

  --transparent:transparent;

  --dark-navy: #15191d;
  --navy: #1b1f24;
  --light-navy: #292f36;
  --dark-gray: #434b56;
  --gray: #646e7b;
  --light-gray: #d1d2d3;
  --yellow: #ffce51;
  --orange: #f59e33;
  --dark-orange: #df6941;
  --tag-orange: #fef3e7;
  --dark-blue: #0064af;
  --blue: #009dcf;
  --tag-blue: #edf0ff;
  --dark-green: #3ab66e;
  --green: #add960;
  --turquoise: #42c2b3;
  --tag-turquoise: #d9f3f0;
  --dark-red: #8f1233;
  --red: #e13f58;
}


/* Text Fields */

.eh-text-field {
  font-size: 1.125em;
  @mixin placeholder gray;
  &:focus {
   @mixin placeholder transparent;
  }
  &.disabled {
    border-color: var(--light-navy);
    background: var(--navy);
    color: var(--gray);
    cursor: not-allowed;
  }
}
.eh-input-tooltip:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 8px 9px 8px;
  border-color: transparent transparent #ffffff transparent;
  content: '';
  position: absolute;
  left: 20px;
  top: -9px;
}
.eh-input-status-icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  top: 1.25rem;
  right: 1.25rem;
}



/* Checkboxes & Radios */

.eh-checkbox {
  input[type='checkbox'] {
    &:checked {
      & + .eh-checkbox-icon {
        @extend .fa-check;
        color: var(--navy);
        background-color: var(--green);
        border-color: var(--green);
      }
    }
  }
  &.disabled {
    color: var(--gray);
    cursor: not-allowed;
    .eh-checkbox-icon {
      border-color: var(--dark-gray);
    }
    input[type='checkbox'] {
      &:checked {
        & + .eh-checkbox-icon {
          background-color: var(--dark-gray);
          border-color: var(--dark-gray);
        }
      }
    }
  }
}

.eh-radio {
  input[type='radio'] {
    &:checked {
      & + .eh-radio-icon {
        background-color: var(--green);
        border-color: var(--green);
      }
    }
  }
  &.disabled {
    color: var(--gray);
    cursor: not-allowed;
    .eh-radio-icon {
      border-color: var(--dark-gray);
    }
    input[type='radio'] {
      &:checked {
        & + .eh-radio-icon {
          background-color: var(--dark-gray);
          border-color: var(--dark-gray);
        }
      }
    }
  }
}

.eh-checkbox-icon,
.eh-radio-icon {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eh-checkbox-icon {
  @extend .fa;
}
.eh-radio-icon {
  &:before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--navy);
  }
}


/*!* 0. Silent Placeholders *!*/
/*%eh-input-state {*/
  /*border-width: 2px;*/
  /*padding: calc(1rem - 1px);*/
/*}*/
/*%eh-switcher-animation {*/
  /*transition: all 150ms;*/
   /*!*transition: all 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220);*/
   /*transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);*!*/
/*}*/

/*!* 3. Switches *!*/
/*.eh-switch {*/
  /*width: 60px;*/
  /*height: 22px;*/
  /*border: 1px solid #d1d8e1;*/
  /*background: #fafafa;*/
  /*border-radius: 11px;*/
  /*position: relative;*/
  /*transition: 150ms;*/
  /*cursor: pointer;*/
  /*margin-top: 12px;*/
  /*margin-bottom: 12px;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*@extend %eh-switcher-animation;*/
    /*top: -6px;*/
    /*left: -10px;*/
    /*display: block;*/
    /*width: 34px;*/
    /*height: 34px;*/
    /*padding: 12px;*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 0px 1px #c5ccd9 inset,*/
                /*0 0 0px 10px #ffffff inset,*/
                /*0 0 0px 11px #c5ccd9 inset;*/
  /*}*/
  /*&.on {*/
    /*background: #9acf79;*/
    /*border-color: #9acf79;*/
    /*&:before {*/
      /*left: calc(100% - 23px);*/
      /*box-shadow: 0 0 0px 1px #92ca6e inset,*/
                  /*0 0 0px 10px #ffffff inset,*/
                  /*0 0 0px 11px #c5ccd9 inset;*/
    /*}*/
  /*}*/
/*}*/

/*.eh-switch-options {*/
  /*height:48px;*/
  /*display: inline-flex;*/
  /*background: #fafafa;*/
  /*border: 1px solid #bec7d4;*/
  /*border-radius: 24px;*/
  /*position: relative;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*height: 48px;*/
    /*width: 50%;*/
    /*border-radius: 24px;*/
    /*background: #5a5a65;*/
    /*top: 0;*/
    /*left: 0;*/
    /*@extend %eh-switcher-animation;*/
  /*}*/
  /*&.switched {*/
    /*&:before {*/
      /*left: 50%;*/
    /*}*/
  /*}*/
  /*.option {*/
    /*padding: 0 40px;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*cursor: pointer;*/
    /*transition: 150ms 50ms;*/
    /*white-space: nowrap;*/
    /*&.active {*/
      /*color: white;*/
      /*cursor: default;*/
    /*}*/
  /*}*/
/*}*/