/* FORMS */

.eh-text-field {
  font-size: 1.125em;
  line-height: 2em;
}

/*!* 0. Silent Placeholders *!*/
/*%eh-input-state {*/
  /*border-width: 2px;*/
  /*padding: calc(1rem - 1px);*/
/*}*/
/*%eh-switcher-animation {*/
  /*transition: all 150ms;*/
   /*!*transition: all 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220);*/
   /*transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);*!*/
/*}*/

/*!* 1. Inputs *!*/
/*.eh-input {*/
  /*&:focus {*/
    /*@mixin placeholder transparent;*/
    /*border-color: #9da7b5;*/
    /*outline: none;*/
  /*}*/
  /*&.eh-input-disabled {*/
    /*background: #d8dde5;*/
    /*border-color: $eh-silver;*/
  /*}*/
  /*&.eh-input-error {*/
    /*@extend %eh-input-state;*/
    /*border-color: $eh-red;*/
    /*background: color($eh-red a(30%));*/
  /*}*/
  /*&.eh-input-success {*/
    /*@extend %eh-input-state;*/
    /*border-color: $eh-green;*/
    /*background: color($eh-green a(30%));*/
  /*}*/
/*}*/

/*!* 2. Checkboxes and Radios *!*/
/*.eh-checkbox,*/
/*.eh-radio {*/
  /*input[type='checkbox'],*/
  /*input[type='radio'] {*/
    /*width: 1px;*/
    /*height: 1px;*/
  /*}*/
  /*&.eh-input-disabled {*/
    /*cursor: not-allowed;*/
    /*opacity: 0.8;*/
    /*.eh-checkbox-icon {*/
      /*background: #dddddd;*/
      /*border-color: #bec7d4;*/
    /*}*/
    /*.eh-radio-icon {*/
      /*background: #dddddd;*/
      /*border-color: #bec7d4;*/
    /*}*/
  /*}*/
/*}*/

/*.eh-checkbox {*/
  /*input[type='checkbox'] {*/
    /*&:checked {*/
      /*& + .eh-checkbox-icon {*/
        /*@extend .fa;*/
        /*@extend .fa-check;*/
        /*background:#5c566e;*/
        /*border-color: #5c566e;*/
        /*color: $eh-white;*/
        /*font-size: 0.875rem;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
      /*}*/
    /*}*/
  /*}*/
  /*.eh-checkbox-icon {*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*background: #fafafa;*/
    /*border:1px solid #bec7d4;*/
    /*border-radius:3px;*/
    /*margin-right: 15px;*/
    /*&:before {*/
      /*position: absolute;*/
    /*}*/
  /*}*/
  /*&.eh-input-disabled {*/
    /*input[type='checkbox'] {*/
      /*&:checked {*/
        /*& + .eh-checkbox-icon {*/
          /*background: #dddddd;*/
          /*border-color: #bec7d4;*/
          /*color: #babbbf;*/
        /*}*/
      /*}*/
    /*}*/
    /*.eh-checkbox-icon {*/
       /*background: #dddddd;*/
       /*border-color: #bec7d4;*/
    /*}*/
  /*}*/
/*}*/

/*.eh-radio {*/
  /*input[type='radio'] {*/
    /*&:checked {*/
      /*& + .eh-radio-icon {*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*&:before {*/
          /*content: '';*/
          /*background: #5c566e;*/
          /*border-radius: 50%;*/
          /*width: 9px;*/
          /*height: 9px;*/
        /*}*/
      /*}*/
    /*}*/
  /*}*/
  /*.eh-radio-icon {*/
    /*background: #fafafa;*/
    /*border: 1px solid #bec7d4;*/
    /*border-radius: 50%;*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*margin-right: 15px;*/
    /*&:before {*/
      /*position: absolute;*/
    /*}*/
  /*}*/
  /*&.eh-input-disabled {*/
    /*input[type='radio'] {*/
      /*&:checked {*/
        /*& + .eh-radio-icon {*/
          /*background: #dddddd;*/
          /*border-color: #bec7d4;*/
            /*&:before {*/
              /*background: #adadb1;*/
            /*}*/
        /*}*/
      /*}*/
    /*}*/
    /*.eh-radio-icon {*/
      /*background: #dddddd;*/
      /*border-color: #bec7d4;*/
      /*&:before {*/
        /*background: #adadb1;*/
      /*}*/
    /*}*/
  /*}*/
/*}*/

/*!* 3. Switches *!*/
/*.eh-switch {*/
  /*width: 60px;*/
  /*height: 22px;*/
  /*border: 1px solid #d1d8e1;*/
  /*background: #fafafa;*/
  /*border-radius: 11px;*/
  /*position: relative;*/
  /*transition: 150ms;*/
  /*cursor: pointer;*/
  /*margin-top: 12px;*/
  /*margin-bottom: 12px;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*@extend %eh-switcher-animation;*/
    /*top: -6px;*/
    /*left: -10px;*/
    /*display: block;*/
    /*width: 34px;*/
    /*height: 34px;*/
    /*padding: 12px;*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 0px 1px #c5ccd9 inset,*/
                /*0 0 0px 10px #ffffff inset,*/
                /*0 0 0px 11px #c5ccd9 inset;*/
  /*}*/
  /*&.on {*/
    /*background: #9acf79;*/
    /*border-color: #9acf79;*/
    /*&:before {*/
      /*left: calc(100% - 23px);*/
      /*box-shadow: 0 0 0px 1px #92ca6e inset,*/
                  /*0 0 0px 10px #ffffff inset,*/
                  /*0 0 0px 11px #c5ccd9 inset;*/
    /*}*/
  /*}*/
/*}*/

/*.eh-switch-options {*/
  /*height:48px;*/
  /*display: inline-flex;*/
  /*background: #fafafa;*/
  /*border: 1px solid #bec7d4;*/
  /*border-radius: 24px;*/
  /*position: relative;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*height: 48px;*/
    /*width: 50%;*/
    /*border-radius: 24px;*/
    /*background: #5a5a65;*/
    /*top: 0;*/
    /*left: 0;*/
    /*@extend %eh-switcher-animation;*/
  /*}*/
  /*&.switched {*/
    /*&:before {*/
      /*left: 50%;*/
    /*}*/
  /*}*/
  /*.option {*/
    /*padding: 0 40px;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*cursor: pointer;*/
    /*transition: 150ms 50ms;*/
    /*white-space: nowrap;*/
    /*&.active {*/
      /*color: white;*/
      /*cursor: default;*/
    /*}*/
  /*}*/
/*}*/