/* FORMS */

/* 0. Silent Placeholders */
%eh-input-state {
  border-width: 2px;
  padding: calc(1rem - 1px);
}

/* 1. Inputs */
.eh-input {
  &:focus {
    @mixin placeholder transparent;
    border-color: #9da7b5;
    outline: none;
  }
  &.eh-input-disabled {
    background: #d8dde5;
    border-color: $eh-silver;
  }
  &.eh-input-error {
    @extend %eh-input-state;
    border-color: $eh-red;
    background: color($eh-red a(30%));
  }
  &.eh-input-success {
    @extend %eh-input-state;
    border-color: $eh-green;
    background: color($eh-green a(30%));
  }
}

/* 2. Checkboxes and Radios */
.eh-checkbox {
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  .eh-checkbox-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    left: -10px;
    &:checked {
      & + .eh-checkbox-icon {
        @extend .fa;
        @extend .fa-check;
        background:#5c566e;
        border-color: #5c566e;
        color: $eh-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }
  }
  .eh-checkbox-icon {
    width: 21px;
    height: 21px;
    background: #fafafa;
    border:1px solid #bec7d4;
    border-radius:3px;
    margin-right: 15px;
  }
  .eh-checkbox-label {
  }
  &.eh-input-disabled {
    cursor: not-allowed;
    opacity: 0.8;
    .eh-checkbox-input {
      &:checked {
        & + .eh-checkbox-icon {
          background: #dddddd;
          border-color: #bec7d4;
          color: #babbbf;
        }
      }
    }
    .eh-checkbox-icon {
     background: #dddddd;
     border-color: #bec7d4;
    }
  }
}

/* 3. Switches */
.eh-switch {
  width: 60px;
  height: 22px;
  border: 1px solid #d1d8e1;
  background: #fafafa;
  border-radius: 11px;
  position: relative;
  transition: 150ms;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  &:before {
    content: '';
    position: absolute;
    transition: 300ms ease-in-out;
    top: 4px;
    left: 2px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 0px 1px #c5ccd9,
                0 0 0px 10px #ffffff,
                0 0 0px 11px #c5ccd9;
  }
  &.on {
    background: #9acf79;
    border-color: #9acf79;
    &:before {
      left: calc(100% - 14px);
      box-shadow: 0 0 0px 1px #92ca6e,
      0 0 0px 10px #ffffff,
      0 0 0px 11px #c5ccd9;
    }
  }
}